/* Основные стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Стили для заголовка */
header {
    background-color: #b3e5d4; /* Пастельный зелено-голубой */
    color: #333;
    padding: 20px 0;
    text-align: center;
}

/* Основные стили контейнера */
.container {
    width: 75%; /* Уменьшенная ширина для лучшей компоновки */
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    flex: 1;
}

/* Секция о себе или о проекте */
.project-details {
    background-color: #fff;
    padding: 30px; /* Внутренний отступ для более комфортного размещения текста */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.project-details p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Стили для изображения проекта */
.project-image {
    width: 100%;
    max-width: 800px;
    margin: 20px auto; /* Центрирование изображения */
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Секция с другими проектами */
.other-projects {
    margin-top: 40px;
}

.other-projects h3 {
    font-size: 1.8em;
    color: #333;
    text-align: center;
}

ul.project-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

ul.project-list li {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

ul.project-list li:hover {
    transform: scale(1.05);
}

ul.project-list li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
}

/* Стили для нижнего колонтитула */
footer {
    background-color: #e1bee7; /* Пастельный сиреневый */
    color: #333;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-size: 1.5em;
}
/* Стили для кнопки "Back to Home" */
.back-home-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #b3e5d4; /* Тот же пастельный зелено-голубой */
    color: #333;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.back-home-button:hover {
    background-color: #99d1bb; /* Немного темнее при наведении */
}

.profile-image-wrapper {
    display: inline-block;
    padding: 8px;
    border: 8px solid #b3e5d4;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.profile-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
