/* Основные стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Стили для заголовка */
header {
    background-color: #b3e5d4; /* Пастельный зелено-голубой */
    color: #333;
    padding: 20px 0;
    text-align: center;
}

/* Основные стили контейнера */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    flex: 1;
}

/* Секция о себе */
.about-me {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.about-me p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Стили для списка проектов */
main h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 0;
}

ul.project-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Вертикальное расположение */
    align-items: center; /* Центрирование по горизонтали */
    gap: 15px;
}

ul.project-list li {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

ul.project-list li:hover {
    transform: scale(1.05);
}

ul.project-list li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
}

/* Стили для нижнего колонтитула */
footer {
    background-color: #e1bee7; /* Пастельный сиреневый */
    color: #333;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-size: 1.5em;
}
